<layout name="Common/layout"/>

<div class="main-div">
    <form action="" name="theForm" enctype="multipart/form-data" id="categoryEdit">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">分类名称:</td>
                <td>
                    <input type='text' name='cat_name' maxlength="20" value='{$category_detail.cat_name}' size='27' id="cat_name"/> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">上级分类:</td>
                <td>
                    <select name="parent_id" id="parent_id">
                        <option value="0">顶级分类</option>
                        <foreach name="cat_list" item="val">
                            <option value="{$val.id}">{$val.level|str_repeat='&nbsp;&nbsp;',###}-{$val.cat_name}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">排序:</td>
                <td>
                    <input type="text" name='sort_num'  value="{$category_detail.sort_num}" size="15" id="sort_num"/>
                </td>
            </tr>
            <tr>
                <td class="label">是否显示:</td>
                <td>
                    <input type="radio" name="is_show" value="是" id="is_show_1"/> 是 
                    <input type="radio" name="is_show" value="否" id="is_show_0"/> 否
                </td>
            </tr>
            <tr>
                <td class="label">导航显示:</td>
                <td>
                    <input type="radio" name="is_floor" value="是" id="is_floor_1"/> 是 
                    <input type="radio" name="is_floor" value="否" id="is_floor_0"/> 否
                </td>
            </tr>
            <tr>
                <td class="label">关键字:</td>
                <td>
                    <input type="text" name="keywords" value='{$category_detail.keywords}' size="50" id="keywords"/>
                </td>
            </tr>
        </table>
        <div class="button-div">
            <input type="hidden" name="id" value="{$category_detail.id}"/>
            <input type="submit" value=" 确定 " onmouseover="this.style.cursor='pointer'"/>
            <input style="width:45px;" type="bubtton" value=" 返 回 " class="button" onclick="location='__CONTROLLER__/categoryList/from/categoryEdit'" onmouseover="this.style.cursor='pointer'"/>
        </div>
    </form>
</div>

<script>
$('#categoryEdit').submit(function(evt){
    //收集表单域信息
    var data = new FormData(this);
    loadXMLDoc(data,"__ACTION__",function(){
        if(xhr.readyState!=4){
            //layer加载层
            layer.load(2);
            // layer.msg('请稍等！正在努力加载中！', {icon: 4});
        }
        if(xhr.readyState==4 && xhr.status==200){
            layer.closeAll('loading');
            var object=JSON.parse(xhr.responseText,function(key,value){
                if (value=='success') {
                    layer.alert('分类信息更新成功！',function(){
                        window.location.href = "__CONTROLLER__/categoryList/from/categoryEdit";
                        icon: 6;
                    });
                }else{
                    layer.alert(value, {icon: 5});
                }
            });
        }
    });
    evt.preventDefault();
});
var xhr;
function loadXMLDoc(data,url,cfunc){
    if(window.XMLHttpRequest){
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xhr=new XMLHttpRequest();
    }else{
        // code for IE6, IE5
        xhr=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xhr.onreadystatechange=cfunc;
    xhr.open("post",url,true);
    xhr.send(data);
}
//渲染默认被选择的单选框和复选框
window.onload=function(){
    if("{$category_detail.is_show}"=='是'){
        $('#is_show_1').attr('checked','true');
    }else if("{$category_detail.is_show}"=='否'){
        $('#is_show_0').attr('checked','true');
    }
    if("{$category_detail.is_floor}"=='是'){
        $('#is_floor_1').attr('checked','true');
    }else if("{$category_detail.is_floor}"=='否'){
        $('#is_floor_0').attr('checked','true');
    }
    $('#parent_id').val({$category_detail.parent_id});
}
</script>