<layout name="Common/layout"/>

<div class="main-div">
    <form method="post" action="" enctype="multipart/form-data" id="brandEdit">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">品牌名称</td>
                <td>
                    <input type="text" name="brand_name" maxlength="60" value="{$brand_detail.brand_name}" id="brand_name"/>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">品牌网址</td>
                <td>
                    <input type="text" name="site_url" maxlength="60" size="40" value="{$brand_detail.site_url}" id="site_url"/>
                </td>
            </tr>
            <tr>
                <td class="label">品牌LOGO</td>
                <td>
                    <span>当前logo：</span><img src="/{$brand_detail.sm_logo}"><br/>
                    <input type="file" name="logo" id="logo" size="45"/><br/>
                    <span class="notice-span" style="display:block"  id="warn_brandlogo">请上传图片，做为品牌的LOGO！</span>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort_num" maxlength="40" size="15" value="{$brand_detail.sort_num}" id="sort_num"/>
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="is_show" value="是" id="is_show_1"/> 是
                    <input type="radio" name="is_show" value="否" id="is_show_0"/> 否(当品牌下还没有商品的时候，首页及分类页的品牌区将不会显示该品牌。)
                </td>
            </tr>
            <tr>
                <td class="label">品牌描述</td>
                <td>
                    <textarea  name="brand_desc" cols="60" rows="4" id="brand_desc">{$brand_detail.brand_desc}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden" name="id" value="{$brand_detail.id}"/>
                    <input type="submit" class="button" value=" 确定 " onmouseover="this.style.cursor='pointer'"/>
                    <input style="width:45px;" type="bubtton" value=" 返 回 " class="button" onclick="location='__CONTROLLER__/brandList/from/brandEdit'" onmouseover="this.style.cursor='pointer'"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
$('#brandEdit').submit(function(evt){
    //收集表单域信息
    var data = new FormData(this);
    loadXMLDoc(data,"__ACTION__",function(){
        if(xhr.readyState!=4){
            //layer加载层
            layer.load(2);
            // layer.msg('请稍等！正在努力加载中！', {icon: 4});
        }
        if(xhr.readyState==4 && xhr.status==200){
            layer.closeAll('loading');
            var object=JSON.parse(xhr.responseText,function(key,value){
                if (value=='success') {
                    layer.alert('分类信息更新成功！',function(){
                        window.location.href = "__CONTROLLER__/brandList/from/brandEdit";
                        icon: 6;
                    });
                }else if(key!=''){
                    layer.tips(value, '#'+key, {tipsMore: true});
                }
            });
        }
    });
    evt.preventDefault();
});
var xhr;
function loadXMLDoc(data,url,cfunc){
    if(window.XMLHttpRequest){
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xhr=new XMLHttpRequest();
    }else{
        // code for IE6, IE5
        xhr=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xhr.onreadystatechange=cfunc;
    xhr.open("post",url,true);
    xhr.send(data);
}
UM.getEditor('brand_desc',{
    initialFrameWidth:'100%', //初始化编辑器宽度
    initialFrameHeight:150  //初始化编辑器高度
});
//渲染默认被选择的单选框和复选框
window.onload=function(){
    if("{$brand_detail.is_show}"=='是'){
        $('#is_show_1').attr('checked','true');
    }else if("{$brand_detail.is_show}"=='否'){
        $('#is_show_0').attr('checked','true');
    }
}
</script>