<layout name="Common/layout"/>
<div class="main-div">
    <form name="main_form" method="POST" enctype="multipart/form-data" id="attributeEdit">
    	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">属性名称：</td>
                <td>
                    <input  type="text" name="attr_name" value="{$attribute_detail.attr_name}" id="attr_name"/>
                </td>
            </tr>
            <tr>
                <td class="label">属性类型：</td>
                <td>
                	<input type="radio" name="attr_type" value="唯一" id="attr_type_unique"/>唯一 
                	<input type="radio" name="attr_type" value="可选" id="attr_type_choose"/>可选 
                </td>
            </tr>
            <tr>
                <td class="label">属性可选值：</td>
                <td>
                    <input  type="text" name="attr_option_values" value="{$attribute_detail.attr_option_values}" id="attr_option_values"/>
                </td>
            </tr>
            <tr>
                <td class="label">所属类型Id：</td>
                <td>
                    <select name="type_id" id="type_id">
                    <volist name="type_list" id="vol">
                        <option value="{$vol.id}">{$vol.type_name}</option>
                    </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="hidden" name="id" value="{$attribute_detail.id}"/>
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
$('#attributeEdit').submit(function(evt){
    //收集表单域信息
    var data = new FormData(this);
    loadXMLDoc(data,"__ACTION__",function(){
        if(xhr.readyState!=4){
            //layer加载层
            layer.load(2);
            // layer.msg('请稍等！正在努力加载中！', {icon: 4});
        }
        if(xhr.readyState==4 && xhr.status==200){
            layer.closeAll('loading');
            // console.log(xhr.responseText);
            var object=JSON.parse(xhr.responseText,function(key,value){
                if (value=='success') {
                    layer.alert('属性信息更新成功！',function(){
                        window.location.href = "__CONTROLLER__/attributeList/from/attributeEdit/type_id/{$type_id}";
                        icon: 6;
                    });
                }else if(key!=''){
                    layer.tips(value, '#'+key, {tipsMore: true});
                }
            });
        }
    });
    evt.preventDefault();
});
var xhr;
function loadXMLDoc(data,url,cfunc){
    if(window.XMLHttpRequest){
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xhr=new XMLHttpRequest();
    }else{
        // code for IE6, IE5
        xhr=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xhr.onreadystatechange=cfunc;
    xhr.open("post",url,true);
    xhr.send(data);
}
//渲染默认被选择的单选框和复选框
window.onload=function(){
    if("{$attribute_detail.attr_type}"=='可选'){
        $('#attr_type_unique').attr('checked','true');
    }else if("{$attribute_detail.attr_type}"=='唯一'){
        $('#attr_type_choose').attr('checked','true');
    }
    $('#type_id').val({$type_id});
}
</script>