<layout name="Common/layout"/>

<div class="main-div">
    <form action="" method="post" name="theForm" enctype="multipart/form-data" id="privilegeEdit">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">权限名称：</td>
                <td>
                    <input type='text' name='pri_name' maxlength="20" value="{$privilege_detail.pri_name}" size='27' id="pri_name"/> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">模块名称：</td>
                <td> 
                    <input  type="text" name="module_name" id="module_name" value="{$privilege_detail.module_name}" />
                </td>
            </tr>
            <tr>
                <td class="label">控制器名称：</td>
                <td>
                    <input  type="text" name="controller_name" id="controller_name" value="{$privilege_detail.controller_name}" />
                </td>
            </tr>
            <tr>
                <td class="label">方法名称：</td>
                <td>
                    <input  type="text" name="action_name" id="action_name" value="{$privilege_detail.action_name}" />
                </td>
            </tr>
            <tr>
                <td class="label">上级权限：</td>
                <td>
                    <select name="parent_id" id="parent_id">
                        <option value="0">顶级权限-</option>
                        <foreach name="pri_list" item="val">
<php>if($val['id']==$privilege_detail['parent_id'])$selected='selected';else $selected='';</php>
                            <option {$selected} value="{$val.id}">{$val.level|str_repeat='&nbsp;&nbsp;',###}-{$val.pri_name}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
        </table>
        <div class="button-div">
            <input type="hidden" name="id" value="{$privilege_detail.id}"/>
            <input type="submit" value=" 确定 " onmouseover="this.style.cursor='pointer'"/>
            <input style="width:45px;" type="bubtton" value=" 返 回 " class="button" onclick="location='__CONTROLLER__/privilegeList/from/privilegeEdit'" onmouseover="this.style.cursor='pointer'"/>
        </div>
    </form>
</div>

<script>
$('#privilegeEdit').submit(function(evt){
    //收集表单域信息
    var data = new FormData(this);
    loadXMLDoc(data,"__ACTION__",function(){
        if(xhr.readyState!=4){
            //layer加载层
            layer.load(2);
            // layer.msg('请稍等！正在努力加载中！', {icon: 4});
        }
        if(xhr.readyState==4 && xhr.status==200){
            // console.log(xhr.responseText);
            layer.closeAll('loading');
            // console.log(xhr.responseText);
            var object=JSON.parse(xhr.responseText,function(key,value){
                if (value=='success') {
                    layer.alert('新权限添加成功！',function(){
                        window.location.href = "__CONTROLLER__/privilegeList";
                        icon: 6;
                    });
                }else if(key!=''){
                    layer.tips(value, '#'+key, {tipsMore: true});
                }
            });
        }
    });
    evt.preventDefault();
});
var xhr;
function loadXMLDoc(data,url,cfunc){
    if(window.XMLHttpRequest){
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xhr=new XMLHttpRequest();
    }else{
        // code for IE6, IE5
        xhr=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xhr.onreadystatechange=cfunc;
    xhr.open("post",url,true);
    xhr.send(data);
}
</script>